{% extends "base.html" %}

{% block title %}VOCA TEST{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="ui info message">
            <div class="header">
                현재
            </div>
            <ul class="list">
                <li>{{ max_day }}일차까지 입력되었습니다.</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="ui container">
        <div class="ui raised middle segment">
            <h2 class="ui header">시험지 생성하기</h2>
            <div class="ui divider"></div>
            <form action="{% url 'show_test_paper' %}" method="post" class="ui equal width form">{% csrf_token %}
                <h3 class="ui header">출제 범위 입력</h3>
                <div class="fields">
                    <div class="field">
                        <label>시작일</label>
                        <input type="text" name="first" placeholder="1" required>
                    </div>
                    <div class="field">
                        <label>마감일</label>
                        <input type="text" name="last" placeholder="{{ max_day }}" required>
                    </div>
                    <div class="field">
                        <label>생성 단어 개수</label>
                        <input type="text" name="word_count" placeholder="1일당 30개를 추천" required>
                    </div>
                </div>
                <div class="ui container center aligned">
                    <button class="ui button blue" type="submit">시험지 생성하기</button>
                </div>
            </form>
            <div class="ui container right aligned">
                <a class="ui button red" href="/admin">ADMIN</a>
            </div>
            <div class="ui divider"></div>
            <div class="ui container center aligned">
                <a href="https://github.com/recall2300/word"><i class="large github icon"></i></a>
            </div>
        </div>
    </div>
{% endblock %}