{% extends "base.html" %}

{% block title %}VOCA TEST PAPER{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="ui raised middle segment">
            <div class="ui button blue show-def">뜻 보기</div>
            <div class="ui button red hide-write">작성 숨기기</div>
            <a class="ui button" href="/">홈으로</a>
            <div class="ui grid">
                <div class="eight wide column">
                    <table class="ui very compact small basic collapsing celled table">
                        <thead>
                        <tr>
                            <th>count</th>
                            <th>day</th>
                            <th>단어</th>
                            <th class="td-write">작성</th>
                            <th>뜻</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for word in word_list1 %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ word.day }}</td>
                                <td>{{ word.word }}</td>
                                <td  class="td-write">
                                    <div class="ui mini input">
                                        <input type="text">
                                    </div>
                                </td>
                                <td class='td-def'>{{ word.definition }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="eight wide column">
                    <table class="ui very compact small basic collapsing celled table">
                        <thead>
                        <tr>
                            <th>count</th>
                            <th>day</th>
                            <th>단어</th>
                            <th class="td-write">작성</th>
                            <th>뜻</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for word in word_list2 %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ word.day }}</td>
                                <td>{{ word.word }}</td>
                                <td class="td-write">
                                    <div class="ui mini input">
                                        <input type="text">
                                    </div>
                                </td>
                                <td class='td-def'>{{ word.definition }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}